<!DOCTYPE html>
<html>
<head>
	<title>Change</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-ls.css') }} ">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<a href="{{url_for('core.index')}}" class="fixed"><i class="fas fa-arrow-left"></i>Go to the main page</a>

		<div class="container">

			<div class="login-content">
				<form method="POST">
					{{form.hidden_tag()}}
					<h2 class="title">{{_('Create your new password')}}</h2>
	           		<div class="input-div pass">
	           		   <div class="i">
	           		    	<i class="fas fa-lock"></i>
	           		   </div>
	           		   <div class="div">
											{{form.password(class="input",onfocus="this.placeholder = ''", onblur="this.placeholder = 'Password'", placeholder="Password")}}
	            	   </div>
	            	</div>
								{{form.submit(class="btn", value="Submit")}}

	            </form>
	        </div>
	    </div>
			<script type="text/javascript" src="{{ url_for('static',filename='js/main-ls.js') }}"></script>
		<script src="{{ url_for('static',filename='js/script.js') }}"></script>
	</body>
	</html>
