<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thanks</title>
    <style media="screen">
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
      body{
        background-color: #2b2c2f;
      }

      .position{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align:center;
      }
      .position h1{
        font-family: 'Poppins', sans-serif;
        color: white;


      }

    </style>
  </head>
  <body>
    <div class="position">
      <h1>{{_('Thanks!')}}</h1>
      <h1>{{_('For confirming your email address')}}</h1>
    </div>
  </body>
</html>
